<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Feed | Picify</title>
  <link rel="stylesheet" href="/stylesheets/feed.css" />
</head>
<body>

  <header>
    <h1>Picify</h1>
    <a href="/profile" class="profile-btn">Go to Profile</a>
  </header>

  <div class="container">
    <% posts.forEach(post => { %>
        <div class="box">
            <a href="<%= post.image %>">
              <img src="<%= post.image %>" alt="<%= post.postText %>" />
            </a>
            <div class="caption"><%= post.postText %></div>
            <div class="author"><%= post.user.username %></div>
            <button class="like-btn" data-id="<%= post._id %>">❤️ Like (<span><%= post.likes.length %></span>)</button>
          </div>          
    <% }) %>
  </div>

  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/scripts/feed.js"></script>
</body>
</html>
