<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Feed | Pinterest</title>
  <link rel="stylesheet" href="/stylesheets/feed.css" />
</head>
<body>

  <header>
    <h1>Pinterest</h1>
  </header>

  <div class="container">
    <% posts.forEach(post => { %>
      <div class="box">
        <a href="/images/uploads/<%= post.image %>">
          <img src="/images/uploads/<%= post.image %>" alt="<%= post.postText %>" />
        </a>
        <div class="caption"><%= post.postText %></div>
        <div class="author"><%= post.user.username %></div>
      </div>
    <% }) %>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/scripts/app.js"></script>
</body>
</html>
